In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import os

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
db_path = os.path.join("Resources","hawaii.sqlite")
engine = create_engine(f"sqlite:///{db_path}")
con = engine.connect()

In [15]:
# reflect an existing database into a new model
HI_base = automap_base()
HI_base.metadata.create_all(con)

# reflect the tables
HI_base.prepare(con, reflect=True)

In [16]:
# View all of the classes that automap found
HI_base.classes.keys()

['measurement', 'station']

In [17]:
# Save references to each table
hi_meas = HI_base.classes.measurement
hi_stati = HI_base.classes.station

In [18]:
#inspecting types
inspector = inspect(con)
hi_meas_col = inspector.get_columns("measurement")
hi_stati_col = inspector.get_columns("station")

In [19]:
#print measurement columns
for column in hi_meas_col:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [20]:
#print station columns
for column in hi_stati_col:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [21]:
# Create our session (link) from Python to the DB
session = Session(bind=con)
session

# Exploratory Precipitation Analysis

In [27]:
# Find the most recent date in the data set.
session.sort
(hi_meas)

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()